body{
    background-color: rgb(18,19,19);
}


/* Navbar */
.navbar-nav-box{
    padding: 5px;
    background-color: rgb(38,43,55);
    border-radius: 5px;
    height: fit-content;
    border: 2px solid rgba(128, 128, 128, 0.379);
}
.nav-button{
    background-color: rgb(52,105,250);
    height: fit-content;
    padding: 10px;
    /* margin-top: px; */
    /* margin-top: 9px; */
    margin-bottom: auto;
    border-radius: 5px;
}
.navbar-nav-item {
padding-left: 12px;
padding-right: 12px;
padding-top: 3px;
padding-bottom: 3px;
border-radius: 5px;
color: white;
font-weight: 500;
cursor: pointer;
}
.navbar-nav-item a{
    color: white;
}
#navbar-nav-item2{
    background-color: rgb(52,105,250);

}


.divs-container{
    padding-left: 150px;
    padding-right: 150px;
   
}
.div2-container{
    margin-left: 120px;
    margin-right: 120px;
    background-color: rgb(38,43,55);
    border-radius: 9px;
}
.div-table-container{
    padding-left: 135px;
    padding-right: 135px;
}
/* DIV 1 */
.div_1{
    background-image: url(../img/background_line.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9px;
    
}
.div_1_link{
    color: white;
    font-style: italic;
    font-size: 16px;
}
.div_1_img{
    padding: 45px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.top12 h5, .top11 h5{
    font-size: 13px;
    padding: 13px;
    color: white;
    
}   
.top11 h5{
    padding-left: 0;
}
.top11-box:hover{
    background-color: rgb(28, 32, 43);
    border-bottom-right-radius:5px ;
    border-bottom-left-radius:5px ;
}
.top12-box{
    border-top: 1px solid rgba(128, 128, 128, 0.185);
}
.top12-box h5{
    font-size: 17px;
    color: white;
}
.top12-box:hover{
    background-color: rgb(28, 32, 43);
    border-bottom-right-radius:5px ;
    border-bottom-left-radius:5px ;
    
}
/* DIV 2 */

.div2-top{
    color: white;
    padding-top: 15px;
}
.div_2_img{
    padding: 6px;
    background-color: rgb(52, 104, 251);
    border-radius: 8px;
    width: 36px;
    height: 36px;
}
.div_2_text1{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: rgba(196, 196, 196, 0.758);
}
.div_2_text2{
    color: rgba(196, 196, 196, 0.758);
    font-size: 17px;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* DIV 3 */

.div_3{
    background-color: rgb(38,43,55);
    border-radius: 9px;

}
.div_3_top h5{
    font-size: 22px;
}
.section-3{
    overflow: hidden;
}


  .imgs3{
    width: 18px;
  }
  .s3-box-top-p p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

  table {
    border-collapse: collapse;
    color: white;
    
    width: 100%;
  }
  
  th, td {
    
    text-align: left;
    
    padding-bottom: 12px  ;
    padding-top: 12px  ;
   
  }
  th{
    color: rgb(255, 255, 255);
    font-size: 12px;
    
  }
  td{
    font-size: 15px;

  }
  .td-3-1 {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 500;
}
.td-3-2{
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 0;

  }
.s3-img{

    width: 24px;
}
.s3-img-container{
    position: relative;
    
}
.s3-img2{
    width: 24px;
    position: absolute;
    top: 30%;
    left: 35%;
}
.s3-img1{
    left: 0%;
    top: 30%;
    position: absolute;
    width: 24px;

}

.table-row{
    border-top: 1px solid rgba(128, 128, 128, 0.29);
}
.table-row:hover{
    background-color: #1C202B;
    cursor: pointer;
}




/* --------POPUP--------------- */
.popup .overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.626);
    z-index: 1;
    display: none;
}

.popup .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 500ms ease;
    transform: translate(-50%,-50%) scale(0);
    background-color: rgb(38,43,55);
    width: 450px;
    color: white;
    z-index: 2;
    text-align: center;
   
    border-radius: 8px;
}


.close-btn{
    position: absolute;
    right: 1%;
    font-size: 35px;
    top: -3%;
    cursor: pointer;
    /* background-color:  rgb(28,32,43); */
    /* padding: 10px; */
    /* border-radius: 25%; */
}
.popup.active .overlay{

    display: block;
}

.popup.active .content{
    transition: 500ms ease;
    transform: translate(-50%,-50%) scale(1);

}
.popup-bottom{
    border-top: 1px solid rgba(128, 128, 128, 0.505);
}

.popup-bottom2{
    background-color: rgb(62,68,83);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.79);
}
.bottom2-r-top{
    background-color: rgb(28,32,43);
    color: white;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 10px;
    display: block;
}


.popup-button{
    width: 100%;
    padding-top:10px ;
    padding-bottom:10px ;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(59,153,252);
    color: white;
    font-weight: 500;    
}
.content-head{
    height: fit-content;
}
.popup-para{
    text-align: left;
}
.popup-para p{
    font-size: 15px;
}

.popup-top-middle{
    font-size: 22px;
    font-weight: 500;
}
#popup-top-right{
    background-color: rgb(28,32,43);
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    padding-top:2px ;
    padding-bottom:5px ;
}
/* -------POPUP ENS----------- */




/* MEDIA QUERIES */

@media (max-width:770px) {
    .divs-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .div-table-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-2 .container{
        padding: 5px;
    }
    .top12-box{
        text-align: center;
    }
    .div2-container{
        margin-left: 0;
        margin-right: 0;
    }
    .div_1_img{
        
        padding: 45px;
        padding-top: 15px;
        
        padding-bottom: 25px;
        width: 70% !important;
    }
    .div_1>:first-child{
        padding-bottom: 5px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .div_1 h5{
        text-align: center;
        
    }
    .div_1_link{
        
        text-align: center !important;

    }
    .div2-top{
        text-align: center;
    }
    .div_2{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .section-1{
        margin-top: 5px !important;
    }
    .section-3{
        overflow: scroll;
    }
    .top11-box{
        overflow: scroll;
    }
    table {
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px; /* Adjust the padding as needed for spacing */
    }

    td:first-child,
    th:first-child {
        width: fit-content; /* Let the first column adjust its width automatically */
    }
   
    .s3-img-container {
        display: flex;
        align-items: center;

    }
    .s3-img1{

        left: 0;
    }
  
    .s3-img2 {
        left:35%;
        /* Adjust the margin as needed for spacing */
    }
    .s3-box-top-p p{
        font-size: 15px;
    }
    .s3-box-top-p{
        width: 150px;
    }
    nav{

        padding-left: 8px !important;
        padding-right: 8px !important;
    
        }
        .nav-button{
            margin-top: 8px;
        }
}
@media (max-width:464px){
    .popup .content{
        width: 90%;
    }
    

}